
@mixin button {
    display: inline-block;
    padding: $spacing-standard/2 $spacing-standard;

    cursor: pointer;
    border-radius: 5px;
    font-size: $font-size-large;
    @include outset-shadow;
}

@mixin button-dark {
    @include button;
    background: $button-dark;
    color: $white;
}

@mixin button-light {
    @include button;
    background: $light-grey;
    color: $primary;
}

@mixin button-transparent {
    @include button;
    background: transparent;
    border: 2px solid $primary;
    box-shadow: none;
    color: $primary;
    font-weight: bold;
}
