
@mixin attention($left, $right) {
    color: $primary-light;
    background: -webkit-linear-gradient(left, $left, $right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
