
#footer {
    background: $primary;
    color: $text-inverse;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    padding: ($spacing-standard * 2.5) 0px;

    text-align: left;
    font-size: $font-size-normal;
    color: $text-light;

    .footer-wrapper {
        @include outer-container;

        padding: 0px $spacing-large;
    }

    /* Responsiveness */
    @media screen and (max-width: $break-small) {
        width: 300px;
        position: static;
        width: 100%;
    }

    a, a:visited {
        color: $white;
    }

    > * {
        position: inline;
        overflow: hidden;
    }

    .footer-left {
        float: left;
    }
    .footer-right {
        float: right;
    }

    .footer-left > * {
        float: left;
        margin: 0px ($spacing-standard * 4) -9999px 0px;
        padding-bottom: 9999px;
        overflow: hidden;
    }

    .footer-right > * {
        float: right;
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        overflow: hidden;
    }

    dt {
        font-weight: bold;
    }

    dt, dd {
        margin: 0px;
        margin-bottom: $spacing-mini;
    }

    .legal {
        margin-right: $spacing-standard;
        padding-right: $spacing-standard;

        border-right: 1px solid $text-light;

        > * {
            margin: $spacing-mini 0px;

            &:first-child {
                margin-top: 0px;
            }

            &:last-child {
                margin-bottom: $spacing-standard * 1.5;
            }
        }
    }

    .logos {
        margin-top: -10px;

        a {
            display: block;
        }
    }

    img.logo-digium {
        max-height: 50px;
    }

    img.logo-respoke {
        max-height: 55px;
    }
}
