
$navbar-mobile-width: 84%;

.navbar {
    height: $navbar-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    font-size: $font-size-normal;
    font-weight: bold;

    @include media($mobile) {
        position: fixed;
        width: $navbar-mobile-width;
        height: 100%;
        background: $primary-dark;
        font-weight: normal;
    }
}

@include media($mobile) {
    .navbar--state:not(:checked) ~ .navbar {
        @include transform(translate3d(-100%, 0, 0));
    }

    .navbar--state:checked ~ .navbar {
        @include transform(translate3d(0, 0, 0));
    }

    .navbar--state:checked ~ .mobile-header {
        @include transform(translate3d($navbar-mobile-width, 0, 0));
    }

    .navbar--state:not(:checked) ~ .mobile-header {
        @include transform(translate3d(0, 0, 0));
    }

    .navbar--state:checked ~ .navbar--push-it {
        @include transform(translate3d($navbar-mobile-width, 0, 0));
    }

    .navbar--state:not(:checked) ~ .navbar--push-it {
        @include transform(translate3d(0, 0, 0));
    }

    .navbar, .navbar--push-it, .mobile-header {
        @include transition(transform .2s cubic-bezier(.16, .68, .43, .99));
    }
}

.navbar--state {
    visibility: hidden;
}

.navbar--wrapper {
    @include outer-container;
}

.navbar--logo {
    @include span-columns(3);
    height: $navbar-height;

    text-align: center;

    @include media($tablet) {
        @include span-columns(2);
    }
    @include media($mobile) {
        @include fill-parent;
        display: block;
        margin: 0;
        float: none;
    }

    a.logo--link {
        display: inline-block;
        padding-top: $spacing-small;
        height: $navbar-height-mobile;
    }

    img.logo--image {
        display: inline-block;
        width: 113px;
    }
}

.navbar--links {
    @include span-columns(6);
    @include shift(3);
    height: $navbar-height;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    @include media($tablet) {
        @include span-columns(4);
        @include shift(0);
    }
    @include media($mobile) {
        @include fill-parent;
        display: block;
        height: auto;
        margin: 0;
        float: none;

        text-align: left;
    }
}

.navbar--account {
    @include span-columns(4);
    @include shift(2);
    height: $navbar-height;

    text-align: right;

    @include media($tablet) {
        @include span-columns(2);
        @include shift(0);
    }
    @include media($mobile) {
        display: block;
        @include fill-parent;
        height: auto;
        margin: 0;
        float: none;

        text-align: left;
    }

    a.navbar--signup, a.navbar--login {
        display: inline-block;
        width: $spacing-standard * 4;

        @include media($mobile) {
            @include fill-parent;
            height: $navbar-height-mobile;
            display: block;
        }
    }

    a.signup {
        @include button-transparent;

        margin-top: $spacing-small;
        margin-right: $spacing-standard;
        padding: $spacing-mini;

        text-align: center;
        font-size: $font-size-normal;
    }

    a.login {
        display: inline-block;
        width: 60px;
        line-height: $navbar-height;

        text-align: center;
    }
}

ul.navbar--links {
    li {
        display: inline-block;
        position: relative;

        @include media($mobile) {
            display: block;
        }

        a {
            display: inline-block;
            padding: 0 $spacing-standard;
            line-height: $navbar-height;

            @include transition(all, 0.2s);

            @include media($mobile) {
                line-height: em($navbar-height-mobile);
            }
        }

        &:hover ul {
            display: block;
            opacity: 1;
            visibility: visible;

            @include transition(all, 0.2s)
        }
    }
}

ul.navbar--dropdown {
    $dd-width: $navbar-height * 2.5;
    $dd-border-width: 1px;
    $dd-triangle-size: 10px;

    display: none;
    position: absolute;
    top: $navbar-height;
    left: -25%;
    padding: 0px;
    width: $dd-width;

    border-width: $dd-border-width;
    border-style: solid;
    border-radius: $radius;

    visibility: hidden;
    opacity: 0;
    @include prefixer(box-shadow, none, webkit moz spec);

    @include transition(all, 0.2s);

    a {
        width: auto;
    }

    li {
        display: block;
        padding: 0px;
        line-height: normal;

        text-align: center;

        @include transition(background-color, 0.2s);

        &:after {
            display: block;
            @include size(70% $dd-border-width);
            margin: 0 auto;

            content: " ";
        }

        &:last-child:after {
            visibility: hidden;
        }

        &:hover {
            @include transition(background-color, 0.2s);
        }
    }

    &:before {
        $topOffset: -($dd-triangle-size / 2);
        $rightOffset: ($dd-width / 2) - ($dd-triangle-size / 2);

        display: block;
        @include position(absolute, $topOffset $rightOffset null null);
        @include size($dd-triangle-size);
        content: " ";
        pointer-events: none;
        @include transform(rotate(-45deg));

        border-width: $dd-border-width;
        @include border-style(solid solid none none);
    }
}

// Navbar themes

@mixin dark-navbar {
    background: $primary;
    color: $text-inverse;

    a, a:visited, a:active {
        color: $white;
    }

    a:hover {
        color: $text-inverse;
    }

    a.signup {
        background: $primary;
        border: 2px solid $white;
    }
}

@mixin light-navbar {
    background: transparent;
    color: $primary;

    a, a:visited, a:active {
        color: $primary;
    }

    a:hover {
        color: $text-inverse;
    }

    a.signup {
        background: transparent;
        border-color: $primary;
    }
}

.navbar.dark {
    @include dark-navbar;
}

@include media(min-width $break-small) {
    .navbar.light {
        @include light-navbar;
    }
}

.navbar.dark ul.navbar--dropdown, .navbar.light ul.navbar--dropdown {
    background: $primary-dark;
    border-color: $primary-highlight;

    a, a:visited, a:active {
        color: $white;
    }

    a:hover {
        color: $text-inverse;
    }

    &:before {
        background-color: $primary-dark;
        border-color: $primary-highlight;
    }

    li {
        a, a:visited, a:active {
            font-weight: normal;
        }

        &:after {
            background-color: $white;
        }
    }
}

// Mobile header

.mobile-header {
    display: none;
}

@include media($mobile) {
    .mobile-header {
        @include outer-container;
        display: block;
        position: fixed;
        height: $navbar-height-mobile;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        background: $primary;
    }

    .mobile-header--toggler {
        @include span-columns(1);
        height: $navbar-height-mobile;
        padding: $spacing-small $spacing-standard 0 $spacing-small;
    }

    .mobile-header--hamburger {
        @include burger($width: $spacing-medium, $gutter: $spacing-mini);
    }

    .navbar--state:checked ~ .mobile-header .mobile-header--hamburger {
        @include burger-to-cross($burger-gutter: $spacing-mini);
    }

    .mobile-header--logo {
        @include span-columns(2);
        text-align: center;

        img {
            width: 113px;
        }
    }
}
