.window {
    background: $white;
    margin-top: $spacing-standard;
    overflow: hidden;

    border-radius: 5px;
    border: 1px solid #acacac;
    box-shadow: 0px 0px 20px #acacac;
}

.window--titlebar {
    $titlebar-height: 20px;

    @include size(100% $titlebar-height);
    line-height: $titlebar-height;

    @include linear-gradient(top, #f0f0f0, #d3d3d3);
    @include border-top-radius(5px);
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    color: #4d494d;
    font-size: 14px;
    text-align: center;

    cursor: default;
    @include user-select(none);
}

// Window buttons

.window--buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;

    &:hover a {
        visibility: visible;
    }

    a {
        display: block;
        @include size(100%);
        visibility: hidden;

        cursor: default;
    }

    a, a:visited, a:active, a:hover {
        color: $black;
    }

    span {
        line-height: 9px;
        vertical-align: 50%;
        font-weight: bold;
    }
    .fa {
        font-size: 7px;
    }
}

%window--button {
    display: inline-block;
    @include size(11px);
    line-height: 11px;
    overflow: hidden;

    border-radius: 50%;
}

.window--close {
    @extend %window--button;

    background: #ff5c5c;
    border: 1px solid #e33e41;

    &:active {
        background: #c14645;
        border: 1px solid #b03537;
    }
}

.window--minimize {
    @extend %window--button;
    margin-left: 4px;

    background: #ffbd4c;
    border: 1px solid #e09e3e;

    &:active {
        background: #c08e38;
        border: 1px solid #af7c33;
    }
}

.window--zoom {
    @extend %window--button;
    margin-left: 6px;

    background: #00ca56;
    border: 1px solid #14ae46;
    border-radius: 50%;

    &:active {
        background: #029740;
        border: 1px solid #128435;
    }
}

// Content area

.window--content {
    padding: 10px;

    background-color: $primary;
}
