
/// Since floated elements cannot easily expand to the height of their parents
/// this mixin is provided to apply the sidebar background with the correct
/// column width to a parent element.
/// @output linear-gradient
/// @param {Color} $color [$light-grey] - Color of background for the sidebar.
@mixin sidebar-background($color: $light-grey) {
    @include media($full-size) {
        $bg-width-left: flex-grid(5);
        $bg-width-right: 100 - $bg-width-left;
        @include linear-gradient(to left, transparent $bg-width-right, $color $bg-width-left);
    }
    @include media($tablet) {
        $bg-width-left: flex-grid(2, 8);
        $bg-width-right: 100 - $bg-width-left;
        @include linear-gradient(to left, transparent $bg-width-right, $color $bg-width-left);
    }
    @include media($mobile) {
        background: none;
    }
}

.sidebar {
    @include span-columns(5);
    height: 100%;
    margin-top: $navbar-height + $spacing-medium;

    font-size: $font-size-normal;

    @include media($tablet) {
        @include span-columns(2);
    }
    @include media($mobile) {
        display: none;
    }
}

.menu, .menu--nested {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    > :first-child {
        font-weight: bold;
        margin-bottom: $spacing-standard;
    }

    a {
        margin: 0;
    }

    li {
        margin: $spacing-mini 0 $spacing-mini $spacing-standard;
    }
}

.menu--header {
    margin-left: $spacing-standard;

    &:before {
        content: '\f0da';
        font-family: 'FontAwesome';
        margin-right: em($spacing-mini);
    }

    &.menu--open:before {
        content: '\f0d7';
    }

    > a, > span {
        font-weight: bold;
    }

    > span {
        cursor: pointer;
    }
}

.menu--nested {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

}

.menu--open > .menu--nested {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

// Color theme

.menu {
    a, a:visited, a:active {
        color: $text;
    }
    a:hover {
        color: $red;
    }

    .menu--current-item a {
        color: $red;
    }
}

