
/// Since floated elements cannot easily expand to the height of their parents
/// this mixin is provided to apply the sidebar background with the correct
/// column width to a parent element.
/// @output linear-gradient
/// @param {Color} $color [$light-grey] - Color of background for the sidebar.
@mixin sidebar-background($color: $light-grey) {
    @include media($full-size) {
        $bg-width-left: flex-grid(5);
        $bg-width-right: 100 - $bg-width-left;
        @include linear-gradient(to left, transparent $bg-width-right, $color $bg-width-left);
    }
    @include media($tablet) {
        $bg-width-left: flex-grid(2, 8);
        $bg-width-right: 100 - $bg-width-left;
        @include linear-gradient(to left, transparent $bg-width-right, $color $bg-width-left);
    }
    @include media($mobile) {
        background: none;
    }
}

.sidebar {
    @include span-columns(5);
    height: 100%;
    margin-top: $navbar-height + $spacing-medium;

    @include media($tablet) {
        @include span-columns(2);
    }
    @include media($mobile) {
        display: none;
    }
}

.sidebar--menu-list, .sidebar--nested-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar--menu-list {
    > :first-child {
        font-weight: bold;
        margin-bottom: $spacing-standard;
    }

    a {
        margin: 0;
    }

    li {
        font-size: 12px;
        margin: $spacing-mini 0 $spacing-mini $spacing-standard;
    }
}

.sidebar--header {
    margin-left: $spacing-standard;

    > a, > span {
        font-weight: bold;
    }

    > span {
        cursor: default;
    }
}

// Color theme

.sidebar--menu-list {
    a, a:visited, a:active {
        color: $text;
    }
    a:hover {
        color: $red;
    }

    .sidebar--current-item a {
        color: $red;
    }
}

