.footer
    .footer-container
        .footer-links
            a(href="http://digium.com/respoke")
                img(src="/images/digium-white.png" class="digium-logo")
        .footer-content
            p.copy Copyright &copy; #{ new Date().getFullYear() } D.C.S, LLC
            p.copy: a(href="mailto:info@respoke.io") info@respoke.io
        .footer-links.social-links
            a(href="https://twitter.com/respoke")
                span.fa.fa-twitter
            a(href="https://www.facebook.com/respokeIO")
                span.fa.fa-facebook
            a(href="https://plus.google.com/110089434291590810767" rel="publisher")
                span.fa.fa-google-plus
