.navbar
    img(src="/images/logo-respoke.png")
    ul.nav-links
        li: a(href="") How It Works
        li: a(href="") Pricing
        li: a(href="") Docs
        li: a(href="") Community
    a.login(href="") log in
    a.signup() Sign Up
    a.toggler()
        ul
            li
            li
            li
                

.breadcrumbs asdf / jkl / 33asf
