.navbar
    a(href="")
        img.logo(src="/images/logo-respoke.png")
        img.logo-notext(src="/images/logo-respoke-notext.png")
    ul.nav-links
        li: a(href="") How It Works
        li: a(href="") Pricing
        li: a(href="") Docs
        li: a(href="") Community
    a.login(href="") log in
    a.signup() Sign Up
    a.toggler(href="#")
        ul
            li
            li
            li
                

.breadcrumbs
    button.toggler-sec
        span.open &#9664;
        span.close &#9654;
    p=breadcrumbs
