input.navbar--state(type="checkbox" id="show-mobile-menu" name="show-mobile-menu")

nav(class=['navbar', navTheme].join(' '))
    .navbar--wrapper
        .navbar--logo
            a.logo--link(href="/")
                - if (navTheme === 'light')
                    img.logo--image(src="/images/logo-respoke-light.png")
                - else
                    img.logo--image(src="/images/logo-respoke.png")
        ul.navbar--links
            li: a(href="/pricing") Pricing
            li
                a(href="#") Developers &nbsp;
                    span.fa.fa-caret-down
                ul.navbar--dropdown
                    li: a(href="https://docs.respoke.io") Docs
                    li: a(href="http://community.respoke.io") Forums
                    li: a(href="https://github.com/respoke/") Github
            li: a(href="http://blog.respoke.io") Blog
        .navbar--account
            a.signup(href="https://portal.respoke.io/#/signup") Sign up
            a.login(href="https://portal.respoke.io/#/login") Log in

.mobile-header
    label.mobile-header--toggler(for="show-mobile-menu")
        .mobile-header--hamburger
    .mobile-header--logo
        a(href="/"): img(src="/images/logo-respoke.png")
