.navbar
    img(src="/images/logo-respoke.png")
    ul
        li: a(href="") How It Works
        li: a(href="") Pricing
        li: a(href="") Docs
        li: a(href="") Community
    a.login(href="") log in
    a.signup() Sign Up
                

.breadcrumbs
    p hi
