
$dark-grey: #4a4a4a;
$light-grey: #f4f4f4;
$white: #fff;
$blue: #3b79b4;
$light-blue: #57adff;
$red: #ff7766;

$primary: $dark-grey;
$primary-light: #929292;
$primary-highlight: #9D9D9D;
$primary-dark: #333333;

// TODO: these need to be adjusted and/or renamed
$secondary: #eff5f9;
$compliment: #303030;
$contrast: #dc47b1;
$contrast-muted: #CB219A;

$button-color: #3E7AB2;

$background: #fff;
$panel: #f5f5f5;

$text-highlight: $blue;
$text: $primary;
$text-inverse: $primary-light;

$text-light: lighten($text, 20%);
$text-lighter: lighten($text, 40%);
$text-lightest: lighten($text, 60%);
