
// NOTE: these fonts must be imported from Google Fonts elsewhere, probably in
// the base.scss file.
$font: 'Open Sans', 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif;
$font-mono: 'Source Code Pro', 'Menlo', 'Consolas', sans-serif;

$font-size-normal: 13px;
$font-size-large: 15px;
$font-size-subtitle: 34px;
$font-size-title: 55px;
