////
/// Config options for the Neat grid system.
/// @group config
////

@import 'neat-helpers';
@import 'variables/colors';
@import 'variables/spacing';

/// This enables/disables the visual grid guide lines. Be sure to _not_ commit
/// this value as `true` or it will get deployed with the grid lines visible.
/// @type Boolean
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: $primary-light;
$visual-grid-opacity: 0.2;

$border-box-sizing: true;

/// Size of the columns used by the Neat grid helpers.
/// @require $spacing-medium
/// @type Number
$column: $spacing-medium;

/// Size of the grid gutter used by Neat helpers.
/// @require $spacing-standard
/// @type Number
$gutter: $spacing-standard;

/// Number of columns used by Neat grid helpers.
/// @type Number
$grid-columns: 18;

/// Content area max-width.
/// @type Number
$max-width: em(1080px);

/// The large resolution device media query.
/// @require $break-large
/// @type List
$full-size: new-breakpoint(max-width $break-large);

/// The medium resolution device media query.
/// @require $break-medium
/// @type List
$tablet: new-breakpoint(max-width $break-medium 8);

/// The small resolution device media query.
/// @require $break-small
/// @type List
$mobile: new-breakpoint(max-width $break-small 4);
