
/**
 * nav layout
 **/

.navbar {
    height: $navbar-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    font-size: $font-size-normal;
    font-weight: bold;

    .navbar-wrapper {
        @include container;
        padding: 0px $spacing-standard;
    }

    .left-nav {
        display: block;
        float: left;
        width: 20%;
        height: $navbar-height;
        text-align: left;
    }

    .right-nav {
        display: block;
        float: left;
        width: 20%;
        height: $navbar-height;
        text-align: right;
    }

    .nav-links {
        display: block;
        float: left;
        width: 60%;
        margin: 0px;
        padding: 0px;
        height: $navbar-height;

        text-align: center;
    }

    a.toggler {
        @media screen and (max-width: $break-medium) {
            display: inline-block;
        }
        @media screen and (min-width: $break-medium + 1) {
            display: none;
        }
    }

    a.logo-link {
        display: inline-block;
        padding-top: $spacing-mini;
        height: $navbar-height - $spacing-mini;
    }

    img.logo {
        height: 45px;
        width: 113px;
        @media screen and (max-width: $break-small) {
            display: none;
        }
        @media screen and (min-width: $break-small + 1) {
            display: inline-block;
        }
    }
    img.logo-notext {
        height: 45px;
        width: 29px;
        @media screen and (max-width: $break-small) {
            display: inline-block;
        }
        @media screen and (min-width: $break-small + 1) {
            display: none;
        }
    }

    ul.nav-links {
        $navbar-link-width: $spacing-large * 2;

        li {
            display: inline-block;
            position: relative;
            line-height: $navbar-height - ($spacing-small * 2);

            a {
                display: block;
                padding: $spacing-small;
                width: $navbar-link-width;
                @include transition(all, 0.2s);
            }

            &:hover ul {
                display: block;
                opacity: 1;
                visibility: visible;

                @include transition(all, 0.2s)
            }
        }

        ul.dropdown {
            $dd-width: $navbar-height * 2.5;
            $dd-border-width: 1px;
            $dd-triangle-size: 10px;

            display: none;
            position: absolute;
            top: $navbar-height;
            left: ($navbar-link-width / 2) - ($dd-width / 2);
            padding: 0px;
            width: $dd-width;

            border-width: $dd-border-width;
            border-style: solid;
            border-radius: $radius;

            visibility: hidden;
            opacity: 0;
            @include prefixer(box-shadow, none, webkit moz spec);

            @include transition(all, 0.2s);

            a {
                width: auto;
            }

            li {
                display: block;
                padding: 0px;
                line-height: normal;

                text-align: center;

                @include transition(background-color, 0.2s);

                &:after {
                    display: block;
                    @include size(70% $dd-border-width);
                    margin: 0 auto;

                    content: " ";
                }

                &:last-child:after {
                    visibility: hidden;
                }

                &:hover {
                    @include transition(background-color, 0.2s);
                }
            }

            &:before {
                $topOffset: -($dd-triangle-size / 2);
                $rightOffset: ($dd-width / 2) - ($dd-triangle-size / 2);

                display: block;
                @include position(absolute, $topOffset $rightOffset null null);
                @include size($dd-triangle-size);
                content: " ";
                pointer-events: none;
                @include transform(rotate(-45deg));

                border-width: $dd-border-width;
                @include border-style(solid solid none none);
            }
        }

        /* Responsiveness */
        @media screen and (max-width: $break-medium) {
            display: none;
            position: fixed;
            right: 0;
            top: $navbar-height;
            background: $primary;
            margin: 0;
            width: 247px;
            @include inset-shadow();

            li {
                display: block;
                margin: 0;
                width: 100%;
                text-transform: none;
                a {
                    display: block;
                    padding: $spacing-mini $spacing-small;
                }
            }
        }
    }


    a.signup, a.login {
        display: inline-block;
        width: $spacing-standard * 4;

        /* Responsiveness */
        @media screen and (max-width: $break-medium) {
            margin-right: $navbar-height;
        }
    }

    a.signup {
        @include button-transparent;

        margin-top: $spacing-small;
        margin-right: $spacing-standard;
        padding: $spacing-mini;

        text-align: center;
        font-size: $font-size-normal;
    }

    a.login {
        display: inline-block;
        width: 60px;
        line-height: $navbar-height;

        text-align: center;
    }

    a.toggler {
        text-transform: lowercase;
        position: fixed;
        right: 0;
        top: 0;
        height: $navbar-height;
        width: $navbar-height + 3;
        background: $primary-dark;
        text-align: center;
        padding: 0;

        /* The bars are generated from a <ul> */
        ul {
            margin: 16px 0 0 0;
            padding: 0;
            position: absolute;
            right: 50%;
            margin-right: -10px;
        }
        li {
            display: block;
            border-bottom: 3px solid $text-inverse;
            width: 20px;
            margin-top: 4px;
            padding: 0;
        }
    }
}

/**
 * nav themes
 **/

.navbar.dark ul.dropdown, .navbar.light ul.dropdown {
    background: $primary-dark;
    border-color: $primary-highlight;

    a, a:visited, a:active {
        color: $white;
    }

    a:hover {
        color: $text-inverse;
    }

    &:before {
        background-color: $primary-dark;
        border-color: $primary-highlight;
    }

    li {
        a, a:visited, a:active {
            font-weight: normal;
        }

        &:after {
            background-color: $white;
        }
    }
}

.navbar.dark {
    background: $primary;
    color: $text-inverse;

    a, a:visited, a:active {
        color: $white;
    }

    a:hover {
        color: $text-inverse;
    }

    a.signup {
        background: $primary;
        border: 2px solid $white;
    }
}

.navbar.light {
    background: transparent;
    color: $primary;

    a, a:visited, a:active {
        color: $primary;
    }

    a:hover {
        color: $text-inverse;
    }

    a.signup {
        background: transparent;
        border-color: $primary;
    }
}
