// This includes all helpers and variables used throughout Respoke websites and
// documentation themes. Including this file should not output any raw CSS.

// Bourbon.io
@import 'bourbon';

// Fonts NOTE: these fonts must be imported from Google Fonts elsewhere,
// probably in the base.scss file.
$font: 'Open Sans', 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif;
$font-mono: 'Source Code Pro', 'Menlo', 'Consolas', sans-serif;

$font-size-normal: 13px;
$font-size-large: 15px;
$font-size-subtitle: 34px;
$font-size-title: 55px;

// Responsive breakpoints
$break-small: 550px;
$break-medium: 700px;
$break-large: 1332px;

// Variables
@import 'colors';
@import 'spacing';

// Mixins
@import 'mixins/effects';
@import 'mixins/text';
@import 'mixins/layout';
@import 'mixins/buttons';
