$spacing-standard: 20px;

$spacing-small: 12px;
$spacing-mini: $spacing-small / 2;
$spacing-mini-half: $spacing-mini / 2;

$radius: 5px;

$navbar-height: 60px;
$content-max-width: 1080px;
$content-left-offset: 162px;
