/**
 * Bourbon.io
 */
@import 'bourbon';

/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
$font: 'Open Sans', 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif;
$fontSize: 14px;
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
$fontMono: 'Source Code Pro', 'Menlo', 'Consolas', sans-serif;
$fontSizeMono: 13px;

/**
 * Responsive breakpoints
 */
$break-small: 550px;
$break-medium: 700px;
$break-large: 1332px;

/**
 * Local deps
 */
@import 'colors.scss';
@import 'spacing.scss';
@import 'effects.scss';
@import 'highlight-js-theme.scss';

/**
 * Widgets and content blocks
 */
@import 'navbar';
@import 'footer';

/**
 * Apply a natural box layout model to all elements, but allowing components
 * to change
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Bare elements
 */

body, html {
    font-family: $font;
    font-size: $fontSize;
    color: $textBrightest;
    background: $background;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* When there is no navbar, we treat a lot of stuff differently */
body.no-navbar {
    .sidebar .sidebar-inner {
        padding-top: $paddingStandard;
    }
    .content {
        margin-top: 0 !important;
    }
    .breadcrumbs {
        top: 0;
    }
}

code {
    font-family: $fontMono;
    color: $contrast;
    background: $secondary;
}

pre {
    @include insetShadow();

    background: $panel;
    padding: $paddingStandard;
    border-radius: $radius;
    overflow: auto;

    h6 {
        margin: 0;
        padding: 0 $paddingStandard;
        font-weight: 400;
    }

    code, code.hljs {
        background: $panel;

        padding: 0;
        margin: 0;

        font-family: $fontMono;
        font-size: $fontSizeMono;
    }
}

strong {
    font-weight: 600;
}

h1 {
    // @include attention($contrast, $primaryAlt1);
    color: $contrastMuted;
    font-weight: 100;
    font-size: 55px;
    margin-bottom: $paddingHuge;
    padding-bottom: none;

    /* Responsiveness */
    @media screen and (max-width: $break-small) {
        font-size: 36px;
        margin-bottom: $paddingStandard;
    }
}

h2, h3, h4, h5, h6 {
    font-size: $fontSize;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: $paddingMini;
    padding-top: $paddingStandard * 1.5;
}

h2 {
    font-weight: 800;
    margin-top: $paddingStandard;
    color: $textBrightest;
}
h3 {
    margin-top: $paddingSmall;
    color: $textBright;
    font-weight: 600;
}
h4 {
    color: $textDull;
    font-weight: 500;
    font-style: oblique;
}
h5 {
    color: $textDuller;
}
h6 {
    color: $textDullest;
    padding-top: $paddingMini;
}

a {
    text-decoration: none;
    color: $primary;
    &:hover, &:visited, &:active {
        text-decoration: none;
        color: $primary;
    }
    &:hover {
        color: $primaryAlt1;
    }
}

/**
 * Custom classes and elements
 */

/* The main section of content */
.content {
    max-width: $contentMaxWidth + $contentLeftOffset;
    padding-right: $paddingStandard;
    padding-bottom: $paddingHuge;
    margin-top: $paddingHuge + $paddingMiniHalf;
    min-height: 100%;

    /* Responsiveness */
    @media screen and (max-width: $break-small) {
        padding-left: $paddingMini;
        margin-top: $paddingHuge * 2;
    }
    @media screen and (min-width: $break-small + 1) {
        padding-left: $contentLeftOffset - 40px;
    }
    @media screen and (min-width: $break-medium + 1) {
        padding-left: $contentLeftOffset;
    }
    @media screen and (min-width: $break-large) {
        position: relative;
        left: 36%;
        margin-left: -($contentMaxWidth / 2);
    }

    img {
        max-width: 100%;
        @include outsetShadow();
    }
}

.breadcrumbs {
    $togglerWidth: $navbarHeight + $paddingMiniHalf;
    $breadcrumbsHeight: $navbarHeight / 1.5;

    background: $panel;
    position: fixed;
    padding: 0;
    margin: 0;
    top: $navbarHeight;
    left: 0;
    right: 0;
    height: $breadcrumbsHeight;
    z-index: 200;
    p {
        padding: $paddingMini $paddingStandard $paddingMini $paddingHuge;
        margin: 0;
        font-size: $fontSize - 1;
    }
    .toggler-sec {
        position: absolute;
        left: 0;
        margin: 0;
        width: $togglerWidth;
        border: 0;
        padding-left: 0;
        height: $breadcrumbsHeight;
        background: $buttonColor;
        color: #9a9a9a;
        font-size: $fontSize + 1;
        z-index: 2000;

        span.close, span.open {
            img {
                height: 25px;
                width: 15px;
                margin-top: 5px;
                margin-bottom: 1px;
            }
        }
        span.close {
            display: none;
        }
        span.open {
            display: block;
        }

    }

    &.open-state {
        background: transparent;

        .toggler-sec {
            right: 0;
            left: auto;
            padding-left: $paddingMini;

            span.close {
                display: block;
            }
            span.open {
                display: none;
            }
        }
    }

    .links {
        margin: 0px 0px 0px $togglerWidth;
        padding: 0px ($paddingStandard * 2) 0px $paddingStandard;

        line-height: $breadcrumbsHeight;
        text-align: left;
        font-weight: 600;
        color: $medium-gray;

        li {
            display: inline;

            &:not(:first-child):before {
                content: ' / ';
            }
        }
    }

    @media screen and (max-width: $break-small) {
        display: block;
    }
    @media screen and (min-width: $break-small + 1) {
        display: none;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;

    background: $panel;

    /* Responsiveness */
    @media screen and (max-width: $break-small) {
        width: 100%;
        display: none;
        .sidebar-inner {
            padding-top: 100px !important;
            width: 80% !important;
        }
    }
    @media screen and (min-width: $break-small + 1) {
        width: 220px;
    }
    @media screen and (min-width: $break-medium) {
        width: 300px;
    }

    .sidebar-inner {
        margin: 0;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    ul > ul {
        margin: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            font-size: 12px;
            margin: 0;
            padding-left: $paddingStandard;

            &.active {
                background: $primaryAlt1;
                color: $textInverse;
                a {
                    color: $textInverse !important;
                }
            }
            &.header a {
                display: inline;
            }
            &.l1.header { padding: $paddingMiniHalf $paddingStandard; }
            &.l2.header { padding: $paddingMiniHalf $paddingStandard * 2; }
            &.l3.header { padding: $paddingMiniHalf $paddingStandard * 4; }

            &.l1>a { padding: $paddingMiniHalf 0; }
            &.l2>a { padding: $paddingMiniHalf $paddingStandard; }
            &.l3>a { padding: $paddingMiniHalf $paddingStandard * 2; }

            a {
                display: inline-block;
                width: 100%;
                margin: 0;
            }

        }
    }
}
