/**
 * Bourbon.io
 */
@import 'bourbon';

/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
$font: 'Open Sans', 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif;
$font-size-normal: 13px;
$font-size-large: 15px;
$font-size-subtitle: 34px;
$font-size-title: 55px;

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
$font-mono: 'Source Code Pro', 'Menlo', 'Consolas', sans-serif;

/**
 * Responsive breakpoints
 */
$break-small: 550px;
$break-medium: 700px;
$break-large: 1332px;

/**
 * Local deps
 */
@import 'colors';
@import 'spacing';
@import 'highlight-js-theme';

/**
 * Mixins
 */
@import 'mixins/effects';
@import 'mixins/text';
@import 'mixins/layout';
@import 'mixins/buttons';

/**
 * Widgets and content blocks
 */
@import 'navbar';
@import 'footer';

/**
 * Apply a natural box layout model to all elements, but allowing components
 * to change
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Bare elements
 */

body, html {
    font-family: $font;
    font-size: $font-size-normal;
    color: $text;
    background: $background;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* When there is no navbar, we treat a lot of stuff differently */
body.no-navbar {
    .sidebar .sidebar-inner {
        padding-top: $spacing-standard;
    }
    .content {
        margin-top: 0 !important;
    }
    .breadcrumbs {
        top: 0;
    }
}

code {
    font-family: $font-mono;
    color: $contrast;
    background: $secondary;
}

pre {
    margin: 0;

    @include inset-shadow();
    background: $panel;
    padding: $spacing-standard;
    border-radius: $radius;
    overflow: auto;

    h6 {
        margin: 0;
        padding: 0 $spacing-standard;
        font-weight: 400;
    }

    code, code.hljs {
        background: $panel;

        padding: 0;
        margin: 0;

        font-family: $font-mono;
        font-size: $font-size-normal;
    }
}

strong {
    font-weight: 600;
}

h1 {
    color: $contrast-muted;
    font-size: $font-size-title;
    margin-bottom: $spacing-large;
    padding-bottom: none;

    /* Responsiveness */
    @media screen and (max-width: $break-small) {
        font-size: 36px;
        margin-bottom: $spacing-standard;
    }
}

h2 {
    color: $text;
    font-size: $font-size-subtitle;
    font-weight: normal;

    padding: 0;
    margin: 0 0 $spacing-medium 0;
}

h3, h4, h5, h6 {
    font-size: $font-size-normal;
    font-weight: bold;
    margin: $spacing-mini 0;
}

h3 {
    margin-top: $spacing-small;
    color: $text;
    font-weight: 600;
}
h4 {
    color: $text-light;
    font-weight: 500;
    font-style: oblique;
}
h5 {
    color: $text-lighter;
}
h6 {
    color: $text-lightest;
}

a {
    text-decoration: none;
    color: $primary;
    &:hover, &:visited, &:active {
        text-decoration: none;
        color: $primary;
    }
    &:hover {
        color: $primary-light;
    }
}
