$primary: #4a4a4a;
$primaryAlt1: #929292;
$primaryAlt2: lighten($primary, 20%);
$primaryDark: #2A669F;
$secondary: #eff5f9;
$compliment: #303030;
$contrast: #dc47b1;
$contrastMuted: #CB219A;

$buttonColor: #e1e1e1;

$background: #fff;
$panel: #f5f5f5;

$textBrightest: #101010;
$textBright: #4a4a4a;
$text: #5a5a5a;
$textDull: #888;
$textDuller: #a0a0a0;
$textDullest: #bbb;

$textInverse: $primaryAlt1;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$white: #fff;

@mixin attention($left, $right) {
    color: $primaryAlt1;
    background: -webkit-linear-gradient(left, $left, $right);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
